<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>KnightOne Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{ url_for('static', filename='/img/favicon.png') }}" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='static/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: KnightOne - v4.2.0
  * Template URL: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="bg-info">

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-xl-12 d-flex align-items-center justify-content-lg-between">
                    <h1 class="logo me-auto me-lg-0"><a href="/">Covaid</a></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                    <nav id="navbar" class="navbar order-last order-lg-0">
                        <ul>
                            <li><a class="nav-link scrollto" href="/">Home</a></li>
                            <li><a class="nav-link scrollto" href="/">About</a></li>
                            <li><a class="nav-link scrollto" href="/">FAQ's</a></li>
                            <li><a class="nav-link scrollto" href="/covid19">COVID-19 Live</a></li>
                            <li><a class="nav-link scrollto active" href="/posts">Posts</a></li>
                            <li><a class="nav-link scrollto" href="vaccinations">Vaccination</a></li>
                            <li><a class="nav-link scrollto" href="#about">Helplines</a></li>
                            <li><a class="nav-link scrollto" href="/quarantinefood">Quarantine Food</a></li>
                            <li><a class="nav-link scrollto" href="/others">Other Resources</a></li>
                            <li><a class="nav-link scrollto" href="/">Contact</a></li>
                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    </nav><!-- .navbar -->

                    <a href="#about" class="get-started-btn scrollto">Login</a>
                    <a href="#about" class="get-started-btn scrollto">Register</a>
                </div>
            </div>

        </div>
    </header><!-- End Header -->

    <div class="container" style="padding: 80px">
        <div class="row">
            <form action="">
                <div class="form-inline">
                    <label for="Name">Name</label><br>
                    <input type="text" class="form-control">
                </div>
                <div class="form-inline">
                    <label for="Location">Location</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="comment">Post:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
                <div class="form-inline">
                    <label for="Contact Details">Contact Details</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-inline">
                    <label for="Location">Social Link</label>
                    <input type="text" class="form-control">
                </div>
                <div>
                    <label for="">Which of the following thing are you posting about ?</label>
                    <br>
                    <input type="checkbox" value="Oxygen">
                    <label for="">Oxygen</label><br>
                    <input type="checkbox" value="Beds">
                    <label for="">Beds</label><br>
                    <input type="checkbox" value="Remedesvir">
                    <label for="">Remedesvir</label><br>
                    <input type="checkbox" value="Toclimuzab">
                    <label for="">Toclimuzab</label><br>

                    <label for="">Are You seeking help for covid resources or giving help:</label>
                    <br>
                    <input type="radio">
                    <label for="">Helper</label>
                    <br>
                    <input type="radio">
                    <label for="">Seeker</label>
                    <br>

                    <input type="submit" value="Submit">
                </div>
        </div>


        </form>

    </div>
    </div>



    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>Covaid</h3>
            <p>One Stop Hub for all COVID-19 Resources.</p>
            <div class="social-links">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>Covaid</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Made with ❤️ by Team Victory
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>

        </div>


    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/php-email-form/validate.js"></script>
    <script src="static/vendor/purecounter/purecounter.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="static/js/main.js"></script>

</body>

</html>